 {% extends "products/base.html" %}
 {% load crispy_forms_tags %}
 {% block content %}
 <div class="container-fluid">
  <div class="row">
 	  <div class="col-sm-8 pre-scrollable" style="height: 249px;">
  		<div style="float: right;">
  			<img class="rounded-circle account-img" style=" margin-top:60px; margin-left: 25%;" src="{{ user.profile.image.url }}">
  			<p style="font-size: 18px; margin-top: 3px; margin-left: 25%;" class="text-muted">
  				<b>Welcome - {{ user.username }}</b>
  			</p>
  			<small class="text-muted" style="margin-left: 25%;">{{ user.email }}</small><hr>
  			<legend style="font-size: 15px; text-align: center; margin-top: 3px;"><u>Update Profile</u></legend>
  			<form method="POST" enctype="multipart/form-data">
          		{% csrf_token %}
          		<fieldset class="form-group">
            		{{ u_form|crispy }}
            		{{ p_form|crispy }}            
          		</fieldset>
          		<div class="form-group">
            		<button class="btn btn-outline-dark" type="submit">UPDATE</button>
          		</div>
        	</form>
  		</div>
  		
	</div>
  </div>
</div>
{% endblock content %} 
</body>
</html>